.container {
  margin: 0 auto;
  width: 85%;
  padding: 15px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 45%;
    padding: 15px;
  }

  .detail-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: black;
  margin-top: 65px;
}

mat-accordion {
  padding: 30px;
}

mat-expansion-panel {
  margin-top: 40px;
}

.image-avatar {
  max-width: 40px; 
  max-height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

p {
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}